*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    display: block;
}

.webgl:active {
    cursor: grabbing;
}

.hovered {
    cursor: none;
}

.label {
    color: #aaa;
    font-family: sans-serif;
    padding: 2px;
    background: rgba(0, 0, 0, .5);
}